<div class="row">
<div class="col">

  <h3>Tarea Completadas</h3>
<table>
  <tr>
    <td>
<% @postulation.each do |k| %>
<p><%= k.job.title %></p>
<% end %>
</td>
<td>
</td>
</tr>
<tr>
<td>Total</td>
<td> <%= @postulation.map{|x| x}.count %> </td>
<tr>
</table>
</div>
</div>
