<div id="empleos" class="container">
      <% @jobs.each do |e| %>
      <div class="card">
        <div class="card-body">
          <h1><%= e.title %></h1>
          <h3><%= e.schedule %></h3>
          <p><%= e.description %></p>
          <a class="btn btn-primary"
          href="<%= pages_vista_empleos_path+'?id='+e.id.to_s %>">
          Revisar empleo
        </a>
        </div>
      </div>
      <% end %>
</div>
