<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Senior Jobs</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">
        La mejor bolsa de empleo en Chile para la tercera edad.
      </h2>
      <%= link_to 'Iniciar sesión', new_user_session_path, class: 'btn btn-primary js-scroll-trigger' %>
    </div>
  </div>
</header>
