#empleos, #vista_empleos{
  p{
    font-size: large;
  }
  .card{
    border-width: 10px;
    margin-bottom: 30px;
  }
  .proc{
    background-color: rgb(25, 126, 163);
    color: white;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
#vista_empleos{
  h1{
    border-bottom: solid 5px #8BC34A;
  }
}
